.p-10 {
    padding: 10px;
}

.slider-img {
    width: 100%;
}

.slider-tittle {
    font-size: 36px;
    padding: 5px 0;
    font-weight: 700;
}

.slick-next {
    display: none;
}

.btn {
    background: rgb(223, 0, 111);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 40px;
    border-radius: 25px;
    margin: 10px 0;
}