@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.container {
  max-width: 90%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.c-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-flex {
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.r-text {
  text-align: right;
}

.l-text {
  text-align: left;
}